---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>Sobre el autor</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			¡Qué tal! Soy ingeniero en informática y un entusiasta total de la tecnología. Me paso el día buscando formas de automatizar procesos y promoviendo el conocimiento libre.
		</p>
		<p>Siempre con un buen café como combustible y nuevos desafíos en el horizonte, disfruto transformando ideas complejas en realidades brillantes.</p>
	</div>
</div>


